# Configuration
/.env

# PHP packages
/composer.lock
/vendor/

# Node packages
/node_modules/
npm-debug.log
yarn-error.log

# HMR mode
/build/hot

# Tests
/phpunit.dist.xml
/.phpunit.result.cache
/build/logs/clover.xml
/test-coverage/
/tests/storage/

# Operating system files
.DS_Store
