//--------------------------------------
// Bootstrap
//--------------------------------------

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$text-muted: $gray-500;
$code-color: #000;

@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
//@import '~bootstrap/scss/images';
//@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
//@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
//@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
//@import '~bootstrap/scss/button-group';
//@import '~bootstrap/scss/input-group';
//@import '~bootstrap/scss/custom-forms';
//@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
//@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
//@import '~bootstrap/scss/jumbotron';
//@import '~bootstrap/scss/alert';
//@import '~bootstrap/scss/progress';
//@import '~bootstrap/scss/media';
//@import '~bootstrap/scss/list-group';
//@import '~bootstrap/scss/close';
//@import '~bootstrap/scss/toasts';
//@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tooltip';
//@import '~bootstrap/scss/popover';
//@import '~bootstrap/scss/carousel';
//@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/utilities';
//@import '~bootstrap/scss/print';


//--------------------------------------
// Font Awesome
//--------------------------------------

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
//@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';


//--------------------------------------
// Highlight.js
//--------------------------------------

@import '~highlight.js/styles/tomorrow-night-bright.css';


//--------------------------------------
// Custom
//--------------------------------------

body {
    min-height: 100vh;
    padding-bottom: 34px;
    position: relative;
}

h6,
.h6 {
    font-weight: 600;
}

.table thead tr {
    background: $light;
}

.table thead th {
    color: $gray-600;
    font-weight: normal;
    text-transform: uppercase;
    vertical-align: middle;
}

.page-footer {
    position: absolute;
    bottom: 0;
    padding: 5px 15px;
}
